"*":
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
    "atom-ide-find-references": {}
    "atom-ide-outline-view": {}
    hyperclick:
      darwinTriggerKeys: "altKey"
    use: {}
  "atom-material-ui":
    colors:
      abaseColor: "#5181d6"
  "atom-rst-preview-docutils":
    rst2html: "rst2html5.py"
  "autocomplete-plus":
    confirmCompletion: "tab"
    includeCompletionsFromAllBuffers: false
  "autocomplete-python":
    useKite: false
    useSnippets: "required"
  broadcast: {}
  core:
    customFileTypes:
      "source.systemverilog": [
        "sv"
      ]
    disabledPackages: [
      "welcome"
      "autosave"
      "styleguide"
      "symbols-view"
      "language-clojure"
      "language-toml"
      "language-ruby-on-rails"
      "language-perl"
      "language-mustache"
      "language-go"
      "atom-ide-debugger"
      "markdown-preview"
      "atom-ide-datatip"
      "background-tips"
      "whitespace"
    ]
    packagesWithKeymapsDisabled: [
      "rst-snippets"
    ]
    telemetryConsent: "limited"
    titleBar: "custom-inset"
    uriHandlerRegistration: "always"
  docblockr: {}
  editor:
    atomicSoftTabs: false
    fontSize: 13
    maxScreenLineLength: 800
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "4b8e05e9-5d04-4276-9999-e741410c4386"
  "export-html":
    openIn: "browser"
  "file-icons": {}
  "git-diff": {}
  "ide-python":
    pylsPlugins:
      autopep8:
        enabled: false
      flake8:
        enabled: true
        maxLineLength: 120
      jedi_completion:
        enabled: false
      jedi_definition:
        enabled: false
      jedi_hover:
        enabled: false
      jedi_references:
        enabled: false
      jedi_signature_help:
        enabled: false
      jedi_symbols:
        enabled: false
      mccabe:
        enabled: false
      pydocstyle:
        convention: "pep257"
        enabled: true
      pylint: {}
      rope_completion:
        enabled: true
      yapf: {}
    python: "/usr/local/bin/python3"
  latex:
    openResultAfterBuild: false
    openResultInBackground: false
    outputDirectory: "./output_files"
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    panelHeight: 306
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    previewConfig:
      activatePreviewWithEditor: true
    useGitHubStyle: true
  minimap: {}
  "one-dark-ui":
    stickyHeaders: true
    tabCloseButton: "Left"
  "one-light-ui":
    stickyHeaders: true
    tabCloseButton: "Left"
  "pdf-view":
    paneToUseInSynctex: "left"
    reverseSyncBehaviour: "Double click"
  "spell-check":
    addKnownWords: true
    knownWords: [
      "datapath"
      "autograder"
      "synthesizable"
      "testbench"
      "multicycle"
      "SystemVerilog"
      "testbenches"
      "autograding"
      "mux"
      "transactionalizes"
    ]
  "status-bar":
    fullWidth: false
    scrollPastEnd: true
  tabs:
    addNewTabsAtEnd: true
  "theme-switch":
    darkProfiles: [
      "one-dark-ui one-dark-syntax"
    ]
    lightProfiles: [
      "one-light-ui one-light-syntax"
    ]
    logToConsole: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace: {}
  "wrap-guide": {}
".asm.source.x86_64":
  editor:
    scrollPastEnd: true
".basic.html.text":
  editor:
    scrollPastEnd: true
    softWrap: false
    softWrapAtPreferredLineLength: false
".c.source":
  editor:
    scrollPastEnd: true
".css.source":
  editor:
    scrollPastEnd: true
".erb.html.text":
  editor:
    tabLength: 2
".gemfile.ruby.source":
  editor:
    tabLength: 2
".java.source":
  editor:
    scrollPastEnd: true
".lc-3.source":
  editor:
    scrollPastEnd: true
".plain.text":
  editor:
    scrollPastEnd: true
".python.source":
  editor:
    scrollPastEnd: true
".restructuredtext.text":
  editor:
    preferredLineLength: 100
    softWrap: false
    softWrapAtPreferredLineLength: false
  "wrap-guide":
    enabled: true
".ruby.source":
  editor:
    tabLength: 2
".text.vim-help":
  editor:
    tabLength: 8
