# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'atom-workspace:not([mini])':
  'cmd-shift-up': 'theme-switch:next-light'
  'cmd-shift-down': 'theme-switch:next-dark'

'atom-text-editor[data-grammar~="latex"]':
  'ctrl-cmd-b': 'latex:build'
  'ctrl-cmd-r': 'latex:rebuild'
  'ctrl-cmd-s': 'latex:sync'
  'ctrl-cmd-c': 'latex:clean'

'atom-workspace':
    'ctrl-alt-h t': 'rst-snippets:h1'   # title:    ==== (top and bottom)
    'ctrl-alt-h s': 'rst-snippets:h2'   # subtitle: ---- (top and bottom)
    'ctrl-alt-h 1': 'rst-snippets:h3'   # h1:       ==== (bottom only)
    'ctrl-alt-h 2': 'rst-snippets:h4'   # h2:       ---- (bottom only)
    'ctrl-alt-h 3': 'rst-snippets:h8'   # h3:       ~~~~
    'ctrl-alt-h 4': 'rst-snippets:h11'  # h4:       ^^^^
    'ctrl-alt-t r': 'rst-snippets:reflowTable'
    'ctrl-alt-t enter': 'rst-snippets:table'

'.platform-darwin':
  'cmd-|': 'tree-view:toggle'
